In [ ]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("HR RAW DATA.csv")

In [149]:
df

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeenumber,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,0,51,True,NaN,684.0,NaN,6,3,NaN,"162,0",...,20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,1,52,True,NaN,699.0,NaN,1,4,life sciences,"259,0",...,33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,2,42,True,rarely,532.0,Research & Development,4,2,technical degree,"319,0",...,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,3,47,True,rarely,359.0,NaN,2,4,medical,NaN,...,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,4,46,True,NaN,1319.0,NaN,3,3,technical degree,NaN,...,19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,1609,36,True,rarely,530.0,NaN,3,1,life sciences,"967,0",...,16,NaN,3,7,"10325,0",1987,1000000000$,NaN,NaN,0
1610,1610,45,True,no,805.0,NaN,4,2,NaN,"972,0",...,9,NaN,0,8,"4447,0",1978,1000000000$,NaN,NaN,1
1611,1611,39,True,rarely,903.0,NaN,13,5,NaN,NaN,...,8,NaN,0,7,NaN,1984,1000000000$,NaN,NaN,Yes
1612,1612,36,True,no,1229.0,NaN,8,4,technical degree,"990,0",...,7,NaN,0,7,NaN,1987,1000000000$,NaN,NaN,True
1613,1613,46,True,NaN,566.0,NaN,7,2,medical,NaN,...,8,NaN,0,7,"10845,0",1977,1000000000$,NaN,NaN,0

In [154]:
df["employeenumber"].dtype

dtype('O')

In [48]:
fila, columna = df[df == 'thirty-two'].stack().index[0]
print(fila)
print(columna)

1584
Age

In [ ]:
#Columna Age

In [15]:
df.iloc[31,1] = 47

47

In [19]:
df.iloc[79,1] = 58

In [22]:
df.iloc[216,1] = 36

In [25]:
df.iloc[357,1] = 55

In [28]:
df.iloc[411,1] = 52

In [31]:
df.iloc[426,1] = 31

In [34]:
df.iloc[593,1] = 30

In [37]:
df.iloc[1198,1] = 26

In [40]:
df.iloc[1226,1] = 37

In [43]:
df.iloc[1293,1] = 32

In [46]:
df.iloc[1325,1] = 24

In [49]:
df.iloc[1584,1] = 32

In [50]:
df['Age'] = df['Age'].astype(int)

In [ ]:
#Attrition

In [72]:
df['Attrition'] = df['Attrition'].replace('No', 'False'). replace('Yes', 'True')

In [73]:
df['Attrition'] = df['Attrition'].astype(bool)

In [ ]:
#Business Travel

In [97]:
df['BusinessTravel'] = df['BusinessTravel'].replace("non-travel", "no").replace("travel_rarely", "rarely").replace("travel_frequently", "frequently")

In [ ]:
#Daily Rate

In [111]:
df["DailyRate"] = df["DailyRate"].str.replace("$","").str.replace(",",".")

In [112]:
df["DailyRate"] = df["DailyRate"].astype(float)

In [ ]:
#Department

In [115]:
df["Department"] = df["Department"].str.strip()

In [ ]:
#Distance From Home

In [128]:
df["DistanceFromHome"] = abs(df["DistanceFromHome"])

In [126]:
for e in df["DistanceFromHome"]:
    if e < 0:
        e == abs(e)

In [ ]:
#Education Field

In [140]:
df["EducationField"] = df["EducationField"].str.lower()

In [ ]:
#employeecount

In [148]:
df = df.drop('employeecount', axis=1)

In [ ]:
#employeenumber

In [155]:
df["employeenumber"] = df["employeenumber"].str.replace(",",".")

In [ ]:
#NO CONSIGO PASAR A INT LO HE PROBADO TUTOOOO