In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../csv-archivos/employees.csv", index_col=0)
df

      employee_number gender  date_birth
0                 162      m        1972
1                 259      m        1971
2                 319      m        1981
5                1900      f        1975
6                  81      f        1964
...               ...    ...         ...
1568             3637      f        1995
1569             3638      f        1997
1574             3643      f        1992
1577             3646      m        1984
1579             3648      m        1977

[1499 rows x 3 columns]

In [3]:
import mysql.connector
from mysql.connector import errorcode

In [11]:
lista1= df.values.tolist()

In [12]:
lista_definitiva = [tuple(empleado) for empleado in lista1]

In [13]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='abc_company')

mycursor = cnx.cursor()
query = "INSERT INTO employees (employee_number,gender,date_birth) VALUES (%s, %s, %s)"
val = lista_definitiva
try: 
    mycursor.executemany(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1499 registro/s insertado/s.

In [4]:
df_ed = pd.read_csv("../csv-archivos/employee_details.csv", index_col=0)
df_ed

,Unnamed: 0,employee_number,department,job_role,job_level,job_involvement,years_at_company,years_since_last_promotion,years_with_current_manager,training_times_last_year,remote_work,performance_rating,attrition,marital_status,distance_from_home,education,education_field,total_working_years,num_companies_worked
0,0,162,NaN,research director,5,3,20,15,15,5,True,3.0,False,NaN,6,3,NaN,NaN,7
1,1,259,NaN,manager,5,2,33,11,9,5,True,3.0,False,NaN,1,4,life sciences,34.0,0
2,2,319,research & development,manager,5,3,22,11,15,3,True,3.0,False,married,4,2,technical degree,22.0,1
3,5,1900,research & development,manager,4,3,22,4,7,3,True,3.0,False,NaN,22,3,medical,NaN,3
4,6,81,NaN,sales executive,3,3,21,7,9,3,NaN,3.0,False,NaN,25,3,life sciences,28.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1575,1568,3637,sales,sales executive,2,3,8,7,5,2,False,4.0,False,NaN,43,4,NaN,8.0,1
1576,1569,3638,NaN,research scientist,1,2,8,1,7,2,NaN,3.0,True,married,5,2,medical,8.0,1
1577,1574,3643,NaN,healthcare representative,2,3,9,8,5,2,NaN,3.0,False,NaN,12,3,medical,10.0,0
1578,1577,3646,NaN,sales executive,3,4,8,0,7,3,True,3.0,False,single,13,5,NaN,9.0,0
1579,1579,3648,NaN,manufacturing director,3,3,8,0,7,3,False,3.0,False,NaN,7,2,medical,NaN,6

In [10]:
df_ed.drop(columns ='Unnamed: 0', inplace = True)

In [11]:
lista2= df_ed.values.tolist()

In [12]:
lista_definitiva2 = [tuple(empleado) for empleado in lista2]

In [16]:
df_ed

,employee_number,department,job_role,job_level,job_involvement,years_at_company,years_since_last_promotion,years_with_current_manager,training_times_last_year,remote_work,performance_rating,attrition,marital_status,distance_from_home,education,education_field,total_working_years,num_companies_worked
0,162,NaN,research director,5,3,20,15,15,5,True,3.0,False,NaN,6,3,NaN,NaN,7
1,259,NaN,manager,5,2,33,11,9,5,True,3.0,False,NaN,1,4,life sciences,34.0,0
2,319,research & development,manager,5,3,22,11,15,3,True,3.0,False,married,4,2,technical degree,22.0,1
3,1900,research & development,manager,4,3,22,4,7,3,True,3.0,False,NaN,22,3,medical,NaN,3
4,81,NaN,sales executive,3,3,21,7,9,3,NaN,3.0,False,NaN,25,3,life sciences,28.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1575,3637,sales,sales executive,2,3,8,7,5,2,False,4.0,False,NaN,43,4,NaN,8.0,1
1576,3638,NaN,research scientist,1,2,8,1,7,2,NaN,3.0,True,married,5,2,medical,8.0,1
1577,3643,NaN,healthcare representative,2,3,9,8,5,2,NaN,3.0,False,NaN,12,3,medical,10.0,0
1578,3646,NaN,sales executive,3,4,8,0,7,3,True,3.0,False,single,13,5,NaN,9.0,0
1579,3648,NaN,manufacturing director,3,3,8,0,7,3,False,3.0,False,NaN,7,2,medical,NaN,6

In [13]:
lista_definitiva2

[(162,
  nan,
  'research director',
  5,
  3,
  20,
  15,
  15,
  5,
  True,
  3.0,
  False,
  nan,
  6,
  3,
  nan,
  nan,
  7),
 (259,
  nan,
  'manager',
  5,
  2,
  33,
  11,
  9,
  5,
  True,
  3.0,
  False,
  nan,
  1,
  4,
  'life sciences',
  34.0,
  0),
 (319,
  'research & development',
  'manager',
  5,
  3,
  22,
  11,
  15,
  3,
  True,
  3.0,
  False,
  'married',
  4,
  2,
  'technical degree',
  22.0,
  1),
 (1900,
  'research & development',
  'manager',
  4,
  3,
  22,
  4,
  7,
  3,
  True,
  3.0,
  False,
  nan,
  22,
  3,
  'medical',
  nan,
  3),
 (81,
  nan,
  'sales executive',
  3,
  3,
  21,
  7,
  9,
  3,
  nan,
  3.0,
  False,
  nan,
  25,
  3,
  'life sciences',
  28.0,
  7),
 (387,
  nan,
  'sales executive',
  2,
  3,
  20,
  11,
  6,
  3,
  False,
  4.0,
  False,
  'married',
  1,
  1,
  nan,
  20.0,
  1),
 (999,
  nan,
  'research director',
  5,
  3,
  18,
  0,
  11,
  2,
  False,
  3.0,
  False,
  nan,
  9,
  3,
  nan,
  21.0,
  2),
 (1035,
  nan,
  'research director',
  5,
  1,
  21,
  5,
  10,
  3,
  False,
  4.0,
  False,
  nan,
  7,
  1,
  nan,
  nan,
  1),
 (58,
  nan,
  'research director',
  5,
  3,
  22,
  15,
  8,
  0,
  False,
  3.0,
  True,
  'married',
  12,
  3,
  nan,
  nan,
  1),
 (558,
  nan,
  'manager',
  5,
  3,
  20,
  1,
  12,
  2,
  False,
  3.0,
  False,
  nan,
  2,
  4,
  nan,
  nan,
  0),
 (825,
  nan,
  'research director',
  5,
  3,
  31,
  13,
  8,
  2,
  False,
  3.0,
  True,
  'single',
  2,
  4,
  nan,
  40.0,
  7),
 (1712,
  'research & development',
  'healthcare representative',
  3,
  2,
  23,
  14,
  4,
  3,
  False,
  4.0,
  False,
  nan,
  1,
  1,
  nan,
  25.0,
  3),
 (73,
  nan,
  'research director',
  3,
  3,
  15,
  8,
  12,
  1,
  nan,
  3.0,
  False,
  'single',
  1,
  2,
  'life sciences',
  15.0,
  1),
 (820,
  nan,
  'manager',
  4,
  3,
  26,
  3,
  0,
  3,
  False,
  3.0,
  False,
  'married',
  2,
  2,
  'other',
  nan,
  1),
 (1294,
  nan,
  'manufacturing director',
  2,
  3,
  16,
  5,
  12,
  2,
  False,
  3.0,
  False,
  'single',
  2,
  4,
  'life sciences',
  18.0,
  9),
 (1774,
  'sales',
  'sales executive',
  2,
  3,
  15,
  0,
  7,
  3,
  True,
  3.0,
  False,
  nan,
  10,
  3,
  'life sciences',
  15.0,
  1),
 (1815,
  'sales',
  'sales executive',
  3,
  3,
  22,
  13,
  5,
  3,
  True,
  3.0,
  False,
  'divorced',
  37,
  1,
  nan,
  nan,
  0),
 (1993,
  'research & development',
  'healthcare representative',
  3,
  3,
  17,
  12,
  11,
  3,
  True,
  4.0,
  False,
  nan,
  25,
  3,
  'medical',
  25.0,
  2),
 (32,
  nan,
  'manager',
  5,
  3,
  14,
  4,
  8,
  3,
  True,
  3.0,
  False,
  nan,
  5,
  3,
  nan,
  26.0,
  4),
 (100,
  nan,
  'sales executive',
  2,
  2,
  15,
  2,
  8,
  2,
  False,
  nan,
  False,
  'single',
  1,
  4,
  'marketing',
  16.0,
  0),
 (244,
  nan,
  'sales executive',
  3,
  3,
  24,
  15,
  7,
  2,
  True,
  4.0,
  False,
  'divorced',
  1,
  2,
  nan,
  24.0,
  1),
 (327,
  nan,
  'manager',
  4,
  3,
  17,
  1,
  9,
  3,
  True,
  4.0,
  False,
  'married',
  16,
  3,
  nan,
  22.0,
  5),
 (373,
  'research & development',
  'laboratory technician',
  1,
  3,
  15,
  10,
  11,
  4,
  nan,
  3.0,
  False,
  'married',
  6,
  3,
  'life sciences',
  16.0,
  0),
 (729,
  nan,
  'sales executive',
  3,
  2,
  18,
  1,
  12,
  2,
  False,
  4.0,
  False,
  'married',
  5,
  4,
  nan,
  20.0,
  5),
 (830,
  nan,
  'manufacturing director',
  2,
  2,
  14,
  6,
  8,
  3,
  False,
  3.0,
  False,
  'married',
  4,
  3,
  nan,
  14.0,
  1),
 (981,
  nan,
  'manager',
  4,
  3,
  17,
  15,
  2,
  3,
  False,
  3.0,
  False,
  'divorced',
  2,
  2,
  'medical',
  22.0,
  6),
 (1042,
  nan,
  'laboratory technician',
  1,
  4,
  17,
  15,
  14,
  1,
  True,
  3.0,
  True,
  'single',
  16,
  4,
  nan,
  18.0,
  1),
 (1080,
  nan,
  'research scientist',
  2,
  2,
  16,
  1,
  7,
  2,
  False,
  4.0,
  False,
  'divorced',
  8,
  4,
  'life sciences',
  nan,
  8),
 (1995,
  nan,
  'sales executive',
  2,
  3,
  15,
  5,
  8,
  3,
  True,
  3.0,
  False,
  'married',
  1,
  4,
  nan,
  16.0,
  0),
 (145,
  nan,
  'healthcare representative',
  3,
  2,
  13,
  12,
  8,
  1,
  nan,
  4.0,
  False,
  'single',
  1,
  4,
  nan,
  23.0,
  3),
 (158,
  nan,
  'manager',
  4,
  3,
  25,
  4,
  12,
  3,
  True,
  3.0,
  False,
  'married',
  26,
  2,
  nan,
  25.0,
  1),
 (391,
  nan,
  'research scientist',
  1,
  3,
  17,
  5,
  7,
  3,
  True,
  3.0,
  False,
  'single',
  1,
  3,
  'life sciences',
  nan,
  1),
 (436,
  nan,
  'sales executive',
  2,
  2,
  13,
  11,
  9,
  2,
  nan,
  3.0,
  False,
  'married',
  8,
  2,
  'technical degree',
  nan,
  1),
 (1527,
  nan,
  'manager',
  4,
  3,
  13,
  5,
  1,
  2,
  True,
  3.0,
  False,
  nan,
  3,
  3,
  'life sciences',
  23.0,
  8),
 (1866,
  nan,
  'manager',
  5,
  2,
  16,
  6,
  14,
  2,
  True,
  3.0,
  False,
  'married',
  6,
  3,
  'medical',
  21.0,
  7),
 (2026,
  nan,
  'healthcare representative',
  2,
  3,
  13,
  1,
  9,
  2,
  True,
  nan,
  False,
  'divorced',
  1,
  4,
  'life sciences',
  nan,
  1),
 (107,
  nan,
  'research scientist',
  2,
  1,
  13,
  1,
  9,
  3,
  True,
  3.0,
  False,
  nan,
  6,
  3,
  'medical',
  17.0,
  7),
 (170,
  nan,
  'manufacturing director',
  2,
  3,
  15,
  5,
  11,
  2,
  False,
  3.0,
  False,
  nan,
  26,
  4,
  'medical',
  16.0,
  1),
 (215,
  nan,
  'sales executive',
  3,
  2,
  12,
  2,
  11,
  2,
  True,
  nan,
  False,
  'married',
  4,
  4,
  nan,
  15.0,
  7),
 (304,
  nan,
  'laboratory technician',
  2,
  3,
  13,
  3,
  7,
  3,
  True,
  3.0,
  False,
  'single',
  5,
  2,
  nan,
  16.0,
  8),
 (529,
  nan,
  'research scientist',
  2,
  3,
  13,
  10,
  7,
  2,
  False,
  3.0,
  False,
  'married',
  25,
  5,
  nan,
  15.0,
  3),
 (691,
  nan,
  'research scientist',
  2,
  1,
  17,
  11,
  8,
  3,
  True,
  3.0,
  False,
  nan,
  6,
  4,
  nan,
  nan,
  1),
 (692,
  nan,
  'healthcare representative',
  2,
  3,
  13,
  4,
  7,
  2,
  False,
  4.0,
  False,
  'divorced',
  6,
  3,
  'life sciences',
  15.0,
  3),
 (1005,
  'research & development',
  'manufacturing director',
  4,
  3,
  12,
  1,
  5,
  2,
  False,
  3.0,
  False,
  'married',
  24,
  3,
  nan,
  22.0,
  3),
 (1024,
  nan,
  'healthcare representative',
  3,
  2,
  15,
  4,
  8,
  3,
  True,
  nan,
  False,
  'single',
  4,
  4,
  nan,
  27.0,
  7),
 (1039,
  'sales',
  'sales executive',
  4,
  4,
  12,
  11,
  11,
  2,
  True,
  3.0,
  False,
  'married',
  28,
  3,
  nan,
  nan,
  3),
 (1225,
  nan,
  'research scientist',
  2,
  3,
  20,
  13,
  17,
  3,
  True,
  4.0,
  False,
  'single',
  29,
  4,
  nan,
  nan,
  1),
 (1375,
  nan,
  'healthcare representative',
  2,
  4,
  12,
  11,
  8,
  0,
  nan,
  4.0,
  False,
  nan,
  25,
  1,
  nan,
  15.0,
  5),
 (1661,
  nan,
  'healthcare representative',
  4,
  2,
  15,
  2,
  12,
  3,
  True,
  3.0,
  False,
  nan,
  6,
  1,
  'life sciences',
  nan,
  2),
 (1668,
  nan,
  'research scientist',
  2,
  3,
  13,
  2,
  9,
  4,
  nan,
  3.0,
  False,
  nan,
  1,
  3,
  'life sciences',
  19.0,
  7),
 (1698,
  nan,
  'laboratory technician',
  1,
  4,
  14,
  2,
  13,
  6,
  nan,
  3.0,
  False,
  nan,
  21,
  3,
  nan,
  14.0,
  1),
 (1937,
  'research & development',
  'research scientist',
  2,
  2,
  20,
  0,
  7,
  3,
  False,
  3.0,
  False,
  'divorced',
  8,
  3,
  nan,
  20.0,
  1),
 (2017,
  nan,
  'research director',
  3,
  4,
  16,
  6,
  8,
  2,
  True,
  4.0,
  False,
  nan,
  10,
  3,
  'life sciences',
  16.0,
  1),
 (117,
  nan,
  'healthcare representative',
  2,
  2,
  11,
  10,
  8,
  3,
  True,
  nan,
  False,
  'married',
  2,
  3,
  nan,
  11.0,
  1),
 (131,
  nan,
  'sales executive',
  4,
  3,
  37,
  1,
  8,
  1,
  True,
  3.0,
  False,
  'single',
  18,
  4,
  nan,
  38.0,
  0),
 (153,
  nan,
  'manager',
  3,
  2,
  11,
  5,
  8,
  6,
  False,
  3.0,
  False,
  'single',
  5,
  3,
  nan,
  14.0,
  2),
 (307,
  nan,
  'sales executive',
  3,
  3,
  16,
  5,
  13,
  6,
  True,
  3.0,
  False,
  'divorced',
  3,
  3,
  'life sciences',
  nan,
  0),
 (374,
  nan,
  'manager',
  5,
  3,
  36,
  4,
  13,
  2,
  True,
  3.0,
  False,
  'single',
  1,
  3,
  'medical',
  37.0,
  0),
 (524,
  nan,
  'manufacturing director',
  2,
  3,
  13,
  3,
  12,
  5,
  True,
  3.0,
  False,
  'married',
  30,
  2,
  nan,
  13.0,
  1),
 (569,
  'research & development',
  'manager',
  4,
  2,
  27,
  15,
  7,
  2,
  nan,
  3.0,
  False,
  'married',
  27,
  4,
  'life sciences',
  28.0,
  0),
 (899,
  nan,
  'manufacturing director',
  3,
  2,
  13,
  4,
  8,
  2,
  False,
  nan,
  False,
  'married',
  25,
  3,
  'technical degree',
  nan,
  3),
 (1014,
  'research & development',
  'healthcare representative',
  3,
  3,
  16,
  10,
  1,
  3,
  True,
  nan,
  False,
  'divorced',
  25,
  4,
  nan,
  nan,
  1),
 (1117,
  'sales',
  'sales executive',
  2,
  2,
  15,
  4,
  12,
  2,
  False,
  3.0,
  False,
  'married',
  9,
  4,
  'life sciences',
  15.0,
  1),
 (1238,
  'research & development',
  'research scientist',
  1,
  3,
  14,
  4,
  10,
  5,
  False,
  3.0,
  False,
  'married',
  9,
  3,
  'medical',
  15.0,
  0),
 (1277,
  nan,
  'manager',
  5,
  1,
  24,
  1,
  11,
  2,
  nan,
  3.0,
  True,
  nan,
  13,
  3,
  'marketing',
  26.0,
  2),
 (1541,
  nan,
  'sales representative',
  1,
  3,
  11,
  5,
  7,
  4,
  False,
  4.0,
  False,
  nan,
  7,
  2,
  'technical degree',
  12.0,
  0),
 (1666,
  'research & development',
  'research director',
  4,
  2,
  14,
  6,
  11,
  3,
  True,
  4.0,
  False,
  nan,
  15,
  2,
  nan,
  nan,
  1),
 (1696,
  nan,
  'laboratory technician',
  2,
  2,
  15,
  4,
  13,
  3,
  False,
  3.0,
  False,
  nan,
  5,
  2,
  'medical',
  nan,
  1),
 (1805,
  nan,
  'human resources',
  1,
  3,
  11,
  3,
  8,
  3,
  True,
  3.0,
  False,
  'divorced',
  2,
  3,
  nan,
  13.0,
  5),
 (1932,
  'research & development',
  'research scientist',
  2,
  2,
  15,
  6,
  11,
  3,
  False,
  3.0,
  False,
  'married',
  22,
  4,
  'other',
  16.0,
  1),
 (2016,
  nan,
  'sales executive',
  3,
  3,
  14,
  5,
  7,
  3,
  True,
  3.0,
  False,
  nan,
  31,
  4,
  nan,
  14.0,
  1),
 (20,
  nan,
  'manufacturing director',
  3,
  4,
  10,
  8,
  8,
  1,
  False,
  3.0,
  False,
  'divorced',
  21,
  4,
  'life sciences',
  10.0,
  1),
 (184,
  'human resources',
  'human resources',
  2,
  3,
  11,
  4,
  7,
  2,
  False,
  3.0,
  False,
  'married',
  9,
  3,
  nan,
  nan,
  0),
 (206,
  nan,
  'laboratory technician',
  2,
  3,
  17,
  0,
  15,
  2,
  True,
  3.0,
  False,
  nan,
  9,
  3,
  'life sciences',
  20.0,
  8),
 (228,
  nan,
  'sales executive',
  3,
  3,
  10,
  7,
  4,
  2,
  nan,
  3.0,
  False,
  nan,
  5,
  3,
  nan,
  nan,
  2),
 (239,
  nan,
  'laboratory technician',
  2,
  3,
  12,
  6,
  10,
  4,
  True,
  nan,
  False,
  nan,
  9,
  3,
  nan,
  12.0,
  1),
 (256,
  nan,
  'manufacturing director',
  2,
  2,
  10,
  1,
  9,
  2,
  False,
  3.0,
  False,
  'married',
  29,
  1,
  nan,
  10.0,
  1),
 (339,
  nan,
  'manufacturing director',
  2,
  2,
  11,
  5,
  9,
  3,
  True,
  3.0,
  False,
  nan,
  39,
  4,
  'life sciences',
  13.0,
  6),
 (406,
  nan,
  'sales executive',
  3,
  3,
  11,
  6,
  9,
  3,
  True,
  3.0,
  False,
  'married',
  16,
  3,
  nan,
  12.0,
  0),
 (429,
  nan,
  'manager',
  4,
  3,
  21,
  11,
  10,
  3,
  True,
  nan,
  False,
  'married',
  10,
  1,
  nan,
  21.0,
  1),
 (444,
  'research & development',
  'manager',
  5,
  2,
  21,
  13,
  3,
  2,
  nan,
  3.0,
  False,
  'married',
  7,
  2,
  nan,
  nan,
  1),
 (452,
  nan,
  'research scientist',
  2,
  3,
  10,
  9,
  8,
  3,
  nan,
  3.0,
  False,
  nan,
  8,
  4,
  nan,
  12.0,
  9),
 (456,
  'sales',
  'sales executive',
  2,
  2,
  10,
  1,
  2,
  2,
  True,
  3.0,
  False,
  nan,
  5,
  3,
  'marketing',
  10.0,
  1),
 (481,
  nan,
  'sales executive',
  3,
  2,
  13,
  1,
  12,
  2,
  nan,
  3.0,
  False,
  'married',
  3,
  4,
  'medical',
  16.0,
  4),
 (513,
  nan,
  'sales executive',
  3,
  2,
  10,
  9,
  0,
  2,
  nan,
  3.0,
  False,
  'married',
  2,
  2,
  nan,
  10.0,
  1),
 (597,
  nan,
  'manager',
  4,
  3,
  10,
  7,
  7,
  2,
  True,
  4.0,
  False,
  'single',
  18,
  5,
  nan,
  37.0,
  3),
 (600,
  nan,
  'sales executive',
  2,
  3,
  11,
  6,
  9,
  2,
  True,
  3.0,
  False,
  nan,
  1,
  3,
  nan,
  15.0,
  9),
 (630,
  nan,
  'research scientist',
  2,
  3,
  10,
  6,
  9,
  3,
  True,
  nan,
  False,
  'divorced',
  6,
  2,
  nan,
  18.0,
  3),
 (638,
  nan,
  'research director',
  5,
  2,
  31,
  0,
  9,
  5,
  True,
  3.0,
  False,
  nan,
  18,
  4,
  'life sciences',
  nan,
  1),
 (683,
  'research & development',
  'research scientist',
  1,
  3,
  10,
  8,
  8,
  4,
  True,
  3.0,
  False,
  'married',
  1,
  5,
  nan,
  nan,
  1),
 (780,
  nan,
  'research scientist',
  1,
  3,
  10,
  7,
  8,
  2,
  False,
  3.0,
  True,
  'single',
  1,
  4,
  'other',
  10.0,
  1),
 (817,
  'research & development',
  'research director',
  3,
  3,
  13,
  3,
  7,
  3,
  nan,
  3.0,
  False,
  'married',
  7,
  3,
  'medical',
  nan,
  0),
 (901,
  nan,
  'research director',
  4,
  3,
  12,
  3,
  8,
  0,
  True,
  3.0,
  False,
  nan,
  23,
  4,
  nan,
  33.0,
  6),
 (944,
  nan,
  'laboratory technician',
  3,
  3,
  26,
  1,
  7,
  3,
  False,
  3.0,
  False,
  'married',
  8,
  2,
  'other',
  29.0,
  4),
 (984,
  nan,
  'sales executive',
  3,
  3,
  10,
  0,
  8,
  2,
  False,
  3.0,
  False,
  nan,
  21,
  4,
  nan,
  nan,
  6),
 (1088,
  nan,
  'healthcare representative',
  3,
  2,
  19,
  1,
  9,
  4,
  False,
  3.0,
  False,
  'married',
  17,
  1,
  'life sciences',
  20.0,
  0),
 (1124,
  'sales',
  'manager',
  4,
  3,
  12,
  4,
  9,
  3,
  False,
  3.0,
  False,
  'married',
  3,
  1,
  'marketing',
  nan,
  3),
 (1167,
  nan,
  'sales executive',
  4,
  3,
  21,
  13,
  14,
  2,
  True,
  nan,
  True,
  'single',
  15,
  3,
  'life sciences',
  nan,
  0),
 (1184,
  nan,
  'healthcare representative',
  2,
  2,
  13,
  4,
  9,
  3,
  True,
  4.0,
  False,
  'single',
  1,
  3,
  nan,
  14.0,
  0),
 (1252,
  nan,
  'healthcare representative',
  2,
  2,
  10,
  1,
  8,
  2,
  False,
  nan,
  False,
  'single',
  24,
  3,
  'medical',
  10.0,
  1),
 (1267,
  nan,
  'manager',
  5,
  3,
  22,
  3,
  10,
  5,
  nan,
  3.0,
  False,
  'married',
  5,
  3,
  nan,
  26.0,
  7),
 (1278,
  nan,
  'healthcare representative',
  4,
  2,
  33,
  15,
  0,
  3,
  False,
  3.0,
  False,
  'divorced',
  8,
  1,
  nan,
  nan,
  1),
 (1288,
  nan,
  'manager',
  5,
  4,
  25,
  14,
  13,
  4,
  False,
  3.0,
  False,
  'divorced',
  4,
  2,
  'life sciences',
  nan,
  1),
 (1307,
  nan,
  'manager',
  4,
  2,
  19,
  15,
  2,
  4,
  False,
  3.0,
  False,
  'divorced',
  13,
  4,
  nan,
  nan,
  6),
 (1336,
  nan,
  'manager',
  5,
  1,
  19,
  9,
  11,
  5,
  nan,
  nan,
  False,
  nan,
  2,
  2,
  'medical',
  23.0,
  4),
 (1352,
  nan,
  'manager',
  4,
  3,
  33,
  0,
  10,
  2,
  nan,
  3.0,
  False,
  nan,
  5,
  3,
  'life sciences',
  nan,
  1),
 (1360,
  nan,
  'manufacturing director',
  3,
  2,
  10,
  5,
  9,
  0,
  nan,
  3.0,
  True,
  'married',
  14,
  4,
  'medical',
  nan,
  7),
 (1419,
  'human resources',
  'human resources',
  3,
  2,
  10,
  0,
  9,
  3,
  False,
  3.0,
  False,
  'single',
  17,
  3,
  nan,
  nan,
  1),
 (1478,
  nan,
  'sales executive',
  2,
  1,
  13,
  3,
  12,
  2,
  True,
  nan,
  False,
  'single',
  3,
  3,
  'other',
  15.0,
  3),
 (1480,
  nan,
  'laboratory technician',
  1,
  3,
  12,
  5,
  8,
  3,
  True,
  3.0,
  False,
  nan,
  9,
  2,
  nan,
  12.0,
  1),
 (1489,
  nan,
  'sales executive',
  2,
  2,
  15,
  10,
  10,
  2,
  False,
  4.0,
  True,
  'single',
  24,
  4,
  nan,
  16.0,
  0),
 (1520,
  nan,
  'manager',
  4,
  3,
  14,
  1,
  12,
  2,
  True,
  nan,
  False,
  nan,
  11,
  4,
  'medical',
  26.0,
  3),
 (1535,
  nan,
  'sales executive',
  3,
  2,
  10,
  8,
  6,
  3,
  False,
  3.0,
  False,
  nan,
  1,
  3,
  nan,
  nan,
  1),
 (1586,
  nan,
  'laboratory technician',
  1,
  3,
  10,
  1,
  5,
  3,
  nan,
  3.0,
  False,
  'single',
  3,
  1,
  'medical',
  nan,
  1),
 (1596,
  nan,
  'laboratory technician',
  2,
  4,
  10,
  6,
  8,
  3,
  nan,
  nan,
  False,
  nan,
  28,
  3,
  'life sciences',
  nan,
  1),
 (1667,
  nan,
  'sales executive',
  2,
  3,
  11,
  6,
  7,
  2,
  nan,
  4.0,
  True,
  nan,
  12,
  4,
  'other',
  13.0,
  3),
 (1701,
  nan,
  'research scientist',
  1,
  2,
  10,
  8,
  7,
  3,
  True,
  3.0,
  False,
  'married',
  19,
  3,
  'life sciences',
  10.0,
  1),
 (1706,
  nan,
  'sales executive',
  2,
  3,
  10,
  8,
  8,
  3,
  False,
  3.0,
  False,
  nan,
  2,
  3,
  nan,
  10.0,
  1),
 (1971,
  nan,
  'healthcare representative',
  3,
  3,
  10,
  0,
  9,
  1,
  True,
  3.0,
  False,
  'married',
  11,
  3,
  'life sciences',
  10.0,
  1),
 (1976,
  'research & development',
  'research scientist',
  2,
  2,
  20,
  3,
  7,
  2,
  nan,
  3.0,
  False,
  'single',
  23,
  2,
  nan,
  20.0,
  1),
 (1985,
  nan,
  'laboratory technician',
  2,
  3,
  10,
  9,
  4,
  2,
  nan,
  nan,
  False,
  'married',
  11,
  3,
  'technical degree',
  10.0,
  1),
 (2032,
  'research & development',
  'laboratory technician',
  1,
  3,
  10,
  9,
  8,
  4,
  True,
  3.0,
  True,
  'married',
  7,
  2,
  'technical degree',
  14.0,
  8),
 (2056,
  nan,
  'sales executive',
  4,
  2,
  20,
  9,
  6,
  2,
  True,
  3.0,
  False,
  nan,
  33,
  1,
  'marketing',
  nan,
  0),
 (57,
  nan,
  'laboratory technician',
  2,
  3,
  12,
  3,
  7,
  2,
  True,
  4.0,
  False,
  nan,
  1,
  2,
  nan,
  12.0,
  1),
 (78,
  'research & development',
  'manufacturing director',
  2,
  3,
  9,
  7,
  8,
  3,
  True,
  4.0,
  False,
  'married',
  1,
  3,
  'medical',
  9.0,
  1),
 (104,
  nan,
  'laboratory technician',
  2,
  2,
  10,
  3,
  0,
  1,
  False,
  3.0,
  False,
  'married',
  1,
  1,
  'life sciences',
  nan,
  1),
 (118,
  'sales',
  'sales executive',
  3,
  2,
  9,
  4,
  7,
  3,
  False,
  3.0,
  True,
  nan,
  9,
  2,
  'medical',
  9.0,
  1),
 (121,
  nan,
  'sales executive',
  2,
  2,
  11,
  2,
  7,
  4,
  False,
  3.0,
  False,
  nan,
  4,
  2,
  nan,
  11.0,
  1),
 (125,
  nan,
  'sales executive',
  2,
  3,
  11,
  5,
  7,
  0,
  True,
  3.0,
  False,
  'single',
  6,
  4,
  nan,
  12.0,
  1),
 (207,
  nan,
  'sales executive',
  3,
  3,
  9,
  3,
  7,
  2,
  True,
  3.0,
  False,
  'single',
  8,
  3,
  'marketing',
  9.0,
  1),
 (227,
  'research & development',
  'research scientist',
  1,
  3,
  9,
  1,
  8,
  2,
  True,
  3.0,
  False,
  'divorced',
  34,
  3,
  'life sciences',
  nan,
  4),
 (253,
  nan,
  'manager',
  5,
  3,
  20,
  9,
  9,
  2,
  False,
  3.0,
  False,
  nan,
  4,
  1,
  'medical',
  21.0,
  1),
 (264,
  nan,
  'manager',
  4,
  2,
  20,
  11,
  8,
  1,
  True,
  4.0,
  False,
  'married',
  2,
  2,
  nan,
  22.0,
  9),
 (291,
  nan,
  'sales executive',
  3,
  1,
  14,
  9,
  8,
  2,
  False,
  3.0,
  True,
  'married',
  4,
  4,
  nan,
  14.0,
  1),
 (292,
  'research & development',
  'manufacturing director',
  3,
  2,
  11,
  5,
  8,
  2,
  True,
  4.0,
  False,
  nan,
  1,
  1,
  'life sciences',
  nan,
  1),
 (306,
  nan,
  'research director',
  3,
  3,
  10,
  0,
  7,
  1,
  nan,
  3.0,
  False,
  nan,
  11,
  3,
  nan,
  nan,
  1),
 (335,
  nan,
  'research scientist',
  2,
  3,
  9,
  4,
  7,
  3,
  False,
  3.0,
  False,
  nan,
  24,
  2,
  'technical degree',
  nan,
  1),
 (420,
  nan,
  'sales executive',
  2,
  2,
  13,
  4,
  8,
  3,
  nan,
  3.0,
  False,
  'married',
  7,
  3,
  'life sciences',
  13.0,
  1),
 (421,
  nan,
  'research director',
  3,
  2,
  10,
  0,
  1,
  2,
  True,
  3.0,
  False,
  nan,
  25,
  2,
  'life sciences',
  nan,
  3),
 (441,
  nan,
  'research scientist',
  2,
  3,
  10,
  1,
  9,
  2,
  True,
  3.0,
  False,
  'married',
  28,
  2,
  nan,
  11.0,
  1),
 (531,
  nan,
  'manager',
  5,
  3,
  21,
  1,
  6,
  3,
  nan,

In [19]:
cnx = mysql.connector.connect(user='root', password='3dEbUtI9',
                              host='127.0.0.1', database='ABC_COMPANY')

mycursor = cnx.cursor()
query = "INSERT INTO employee_details (employee_number,department,job_role,job_level,job_involvement,years_at_company,years_since_last_promotion,years_with_current_manager,training_times_last_year,remote_work,performance_rating,attrition,marital_status,distance_from_home,education,education_field,total_working_years,num_companies_worked) VALUES (%s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s)"
val = lista_definitiva2
try: 
    mycursor.executemany(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'

In [33]:
df_ec = pd.read_csv("../csv-archivos/economics.csv", index_col=0)
df_ec

,employee_number,monthly_income,hourly_rate,monthly_rate,daily_rate,percent_salary_hike,stock_option_level,business_travel,over_time
0,162,19537.0,51.0,6462,684.0,0.13,0,NaN,False
1,259,19999.0,65.0,5678,699.0,0.14,1,NaN,NaN
2,319,19232.0,58.0,4933,532.0,0.11,0,rarely,False
5,1900,17174.0,58.0,2437,117.0,0.11,1,NaN,False
6,81,NaN,99.0,2354,1435.0,0.11,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1568,3637,NaN,81.0,3698,760.0,0.20,0,NaN,NaN
1569,3638,2366.0,88.0,20898,NaN,0.14,1,NaN,NaN
1574,3643,NaN,41.0,17369,616.0,0.11,2,NaN,NaN
1577,3646,NaN,41.0,2560,903.0,0.18,0,rarely,False
1579,3648,10845.0,75.0,24208,566.0,0.13,1,NaN,NaN

In [34]:
lista3= df_ec.values.tolist()

In [35]:
lista_definitiva3 = [tuple(empleado) for empleado in lista3]

In [37]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='abc_company')

mycursor = cnx.cursor()
query = "INSERT INTO economic(employee_number,monthly_income,hourly_rate,monthly_rate,daily_rate,percent_salary_hike,stock_option_level,business_travel,over_time) VALUES (%s, %s,%s, %s, %s,%s, %s, %s,%s)"
val = lista_definitiva3
try: 
    mycursor.executemany(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1580 registro/s insertado/s.

In [38]:
df_sa = pd.read_csv("../csv-archivos/satisfaction.csv", index_col=0)
df_sa

,employee_number,environment_satisfaction,job_satisfaction,relationship_satisfaction,work_life_balance
0,162,1.0,3,3,3.0
1,259,3.0,3,1,3.0
2,319,3.0,4,4,NaN
5,1900,4.0,4,2,3.0
6,81,1.0,1,4,2.0
...,...,...,...,...,...
1568,3637,NaN,2,1,3.0
1569,3638,3.0,3,1,3.0
1574,3643,4.0,4,3,1.0
1577,3646,NaN,3,4,3.0
1579,3648,4.0,3,2,3.0

In [39]:
df_sa.columns

Index(['employee_number', 'environment_satisfaction', 'job_satisfaction',
       'relationship_satisfaction', 'work_life_balance'],
      dtype='object')

In [44]:
lista4= df_sa.values.tolist()

In [45]:
lista_definitiva4 = [tuple(empleado) for empleado in lista4]

In [46]:
lista_definitiva4

[(162.0, 1.0, 3.0, 3.0, 3.0),
 (259.0, 3.0, 3.0, 1.0, 3.0),
 (319.0, 3.0, 4.0, 4.0, nan),
 (1900.0, 4.0, 4.0, 2.0, 3.0),
 (81.0, 1.0, 1.0, 4.0, 2.0),
 (387.0, 2.0, 3.0, 3.0, 3.0),
 (999.0, 1.0, 3.0, 2.0, 4.0),
 (1035.0, 2.0, 3.0, 2.0, 3.0),
 (58.0, 2.0, 3.0, 4.0, 3.0),
 (558.0, 3.0, 3.0, 4.0, 3.0),
 (825.0, 4.0, 2.0, 4.0, 3.0),
 (1712.0, 3.0, 3.0, 4.0, 2.0),
 (73.0, 1.0, 4.0, 3.0, 3.0),
 (820.0, 3.0, 4.0, 3.0, 2.0),
 (1294.0, 3.0, 2.0, 4.0, 3.0),
 (1774.0, 4.0, 3.0, 3.0, 3.0),
 (1815.0, nan, 3.0, 4.0, 4.0),
 (1993.0, 1.0, 3.0, 2.0, 3.0),
 (32.0, 3.0, 3.0, 4.0, 2.0),
 (100.0, 3.0, 1.0, 2.0, 3.0),
 (244.0, 2.0, 1.0, 3.0, 3.0),
 (327.0, 4.0, 4.0, 3.0, 3.0),
 (373.0, 4.0, 4.0, 3.0, 3.0),
 (729.0, 4.0, 1.0, 3.0, 3.0),
 (830.0, 3.0, 3.0, 3.0, 3.0),
 (981.0, 3.0, 3.0, 3.0, 4.0),
 (1042.0, 3.0, 1.0, 3.0, 3.0),
 (1080.0, 4.0, 1.0, 1.0, 3.0),
 (1995.0, 4.0, 2.0, 1.0, nan),
 (145.0, 1.0, 1.0, 3.0, 2.0),
 (158.0, 3.0, 4.0, 4.0, 4.0),
 (391.0, 4.0, 4.0, 2.0, 3.0),
 (436.0, 3.0, 2.0, 4.0, 3.0),
 (1527.0, 3.0, 2.0, 4.0, 4.0),
 (1866.0, 1.0, 3.0, 4.0, 3.0),
 (2026.0, 3.0, 3.0, 1.0, 2.0),
 (107.0, 2.0, 4.0, 4.0, 3.0),
 (170.0, 3.0, 1.0, 3.0, 2.0),
 (215.0, 3.0, 4.0, 1.0, 2.0),
 (304.0, 4.0, 2.0, 4.0, 4.0),
 (529.0, 2.0, 3.0, 1.0, 3.0),
 (691.0, 2.0, 4.0, 2.0, 3.0),
 (692.0, 3.0, 4.0, 3.0, 1.0),
 (1005.0, 4.0, 3.0, 4.0, 3.0),
 (1024.0, 3.0, 3.0, 2.0, 3.0),
 (1039.0, 4.0, 4.0, 3.0, 3.0),
 (1225.0, 4.0, 4.0, 2.0, 3.0),
 (1375.0, nan, 3.0, 2.0, 3.0),
 (1661.0, 3.0, 3.0, 2.0, 3.0),
 (1668.0, 4.0, 4.0, 4.0, nan),
 (1698.0, 2.0, 2.0, 4.0, nan),
 (1937.0, 4.0, 2.0, 3.0, 3.0),
 (2017.0, 3.0, 4.0, 1.0, 3.0),
 (117.0, 3.0, 4.0, 1.0, 3.0),
 (131.0, 4.0, 3.0, 3.0, 2.0),
 (153.0, 3.0, 1.0, 4.0, 3.0),
 (307.0, 1.0, 3.0, 3.0, 2.0),
 (374.0, 4.0, 1.0, 3.0, 3.0),
 (524.0, 2.0, 1.0, 2.0, 1.0),
 (569.0, nan, 3.0, 2.0, 3.0),
 (899.0, 4.0, 2.0, 1.0, 3.0),
 (1014.0, 3.0, 3.0, 3.0, 2.0),
 (1117.0, 2.0, 3.0, 4.0, 3.0),
 (1238.0, 1.0, 4.0, 2.0, 3.0),
 (1277.0, 1.0, 2.0, 1.0, 3.0),
 (1541.0, 2.0, 3.0, 2.0, 3.0),
 (1666.0, 3.0, 3.0, 1.0, 3.0),
 (1696.0, 2.0, 4.0, 3.0, nan),
 (1805.0, 1.0, 2.0, 4.0, 3.0),
 (1932.0, 3.0, 4.0, 2.0, 3.0),
 (2016.0, nan, 4.0, 3.0, 3.0),
 (20.0, 2.0, 1.0, 3.0, 3.0),
 (184.0, 3.0, 4.0, 4.0, 1.0),
 (206.0, 2.0, 2.0, 3.0, nan),
 (228.0, 2.0, 4.0, 3.0, 3.0),
 (239.0, 3.0, 1.0, 3.0, 3.0),
 (256.0, 4.0, 3.0, 3.0, 2.0),
 (339.0, nan, 1.0, 2.0, 3.0),
 (406.0, 3.0, 2.0, 3.0, 2.0),
 (429.0, 3.0, 1.0, 4.0, 3.0),
 (444.0, 3.0, 4.0, 1.0, 3.0),
 (452.0, 4.0, 4.0, 1.0, 3.0),
 (456.0, 4.0, 3.0, 3.0, 3.0),
 (481.0, 1.0, 4.0, 1.0, 3.0),
 (513.0, 2.0, 3.0, 2.0, 3.0),
 (597.0, 1.0, 2.0, 4.0, 3.0),
 (600.0, 2.0, 3.0, 3.0, 3.0),
 (630.0, 4.0, 1.0, 2.0, 3.0),
 (638.0, 4.0, 3.0, 3.0, 3.0),
 (683.0, 2.0, 4.0, 4.0, 2.0),
 (780.0, 4.0, 4.0, 3.0, 2.0),
 (817.0, 3.0, 3.0, 4.0, 4.0),
 (901.0, 4.0, 4.0, 3.0, 3.0),
 (944.0, 1.0, 2.0, 3.0, 2.0),
 (984.0, nan, 4.0, 2.0, 3.0),
 (1088.0, 3.0, 3.0, 1.0, 2.0),
 (1124.0, 1.0, 3.0, 4.0, 3.0),
 (1167.0, nan, 1.0, 2.0, 2.0),
 (1184.0, 4.0, 1.0, 3.0, 3.0),
 (1252.0, 3.0, 1.0, 2.0, 3.0),
 (1267.0, 2.0, 2.0, 3.0, 3.0),
 (1278.0, 4.0, 2.0, 4.0, 3.0),
 (1288.0, 3.0, 1.0, 4.0, 2.0),
 (1307.0, 3.0, 2.0, 4.0, 3.0),
 (1336.0, 4.0, 3.0, 4.0, 3.0),
 (1352.0, 3.0, 2.0, 2.0, 3.0),
 (1360.0, nan, 1.0, 4.0, 2.0),
 (1419.0, 2.0, 1.0, 1.0, 2.0),
 (1478.0, 4.0, 1.0, 4.0, 3.0),
 (1480.0, 1.0, 4.0, 3.0, 3.0),
 (1489.0, 1.0, 2.0, 3.0, 4.0),
 (1520.0, 2.0, 4.0, 1.0, 3.0),
 (1535.0, 4.0, 3.0, 4.0, 3.0),
 (1586.0, 2.0, 1.0, 4.0, nan),
 (1596.0, 2.0, 3.0, 4.0, 2.0),
 (1667.0, 4.0, 4.0, 1.0, 4.0),
 (1701.0, 2.0, 4.0, 2.0, 3.0),
 (1706.0, 4.0, 4.0, 1.0, 3.0),
 (1971.0, 1.0, 3.0, 2.0, 3.0),
 (1976.0, 4.0, 3.0, 4.0, 3.0),
 (1985.0, 4.0, 3.0, 1.0, 4.0),
 (2032.0, 4.0, 3.0, 4.0, 1.0),
 (2056.0, nan, 4.0, 1.0, 2.0),
 (57.0, 3.0, 4.0, 4.0, nan),
 (78.0, 1.0, 4.0, 2.0, 3.0),
 (104.0, 4.0, 4.0, 3.0, nan),
 (118.0, 3.0, 4.0, 4.0, 3.0),
 (121.0, 3.0, 2.0, 2.0, 2.0),
 (125.0, 2.0, 3.0, 1.0, 3.0),
 (207.0, 2.0, 4.0, 4.0, 3.0),
 (227.0, 1.0, 3.0, 1.0, 3.0),
 (253.0, 4.0, 3.0, 2.0, 3.0),
 (264.0, 1.0, 4.0, 4.0, 3.0),
 (291.0, 4.0, 4.0, 3.0, 2.0),
 (292.0, 3.0, 3.0, 3.0, 3.0),
 (306.0, 2.0, 4.0, 3.0, 3.0),
 (335.0, 1.0, 4.0, 1.0, 3.0),
 (420.0, 4.0, 3.0, 3.0, 2.0),
 (421.0, 1.0, 2.0, 3.0, 3.0),
 (441.0, 4.0, 4.0, 4.0, 3.0),
 (531.0, 2.0, 3.0, 3.0, 3.0),
 (549.0, 1.0, 1.0, 4.0, 1.0),
 (567.0, 3.0, 1.0, 3.0, 3.0),
 (581.0, 3.0, 2.0, 4.0, 4.0),
 (702.0, 1.0, 1.0, 1.0, 3.0),
 (716.0, 4.0, 3.0, 3.0, 3.0),
 (772.0, 1.0, 4.0, 4.0, 3.0),
 (836.0, 2.0, 2.0, 4.0, 2.0),
 (840.0, 3.0, 4.0, 1.0, 4.0),
 (844.0, 3.0, 4.0, 2.0, 3.0),
 (867.0, 3.0, 4.0, 3.0, 3.0),
 (889.0, 2.0, 2.0, 4.0, 3.0),
 (924.0, 3.0, 4.0, 1.0, 2.0),
 (976.0, 4.0, 4.0, 2.0, nan),
 (992.0, 4.0, 3.0, 4.0, 3.0),
 (1002.0, 4.0, 1.0, 3.0, 3.0),
 (1073.0, 4.0, 4.0, 2.0, 2.0),
 (1138.0, 4.0, 2.0, 2.0, 3.0),
 (1192.0, 2.0, 4.0, 1.0, 3.0),
 (1196.0, 4.0, 4.0, 2.0, 2.0),
 (1315.0, 3.0, 4.0, 1.0, 3.0),
 (1324.0, 4.0, 3.0, 1.0, 2.0),
 (1334.0, 3.0, 3.0, 4.0, 2.0),
 (1346.0, 3.0, 4.0, 3.0, 3.0),
 (1356.0, 3.0, 1.0, 4.0, 4.0),
 (1423.0, 4.0, 1.0, 3.0, 3.0),
 (1459.0, 3.0, 2.0, 1.0, 3.0),
 (1472.0, 4.0, 2.0, 2.0, 2.0),
 (1485.0, 2.0, 1.0, 4.0, 2.0),
 (1543.0, 1.0, 4.0, 1.0, 3.0),
 (1547.0, 4.0, 4.0, 3.0, 1.0),
 (1553.0, 1.0, 2.0, 1.0, 3.0),
 (1562.0, 2.0, 1.0, 4.0, 3.0),
 (1582.0, 3.0, 2.0, 4.0, 3.0),
 (1606.0, 2.0, 3.0, 3.0, 3.0),
 (1658.0, 4.0, 2.0, 3.0, 3.0),
 (1665.0, 2.0, 3.0, 3.0, 3.0),
 (1737.0, 4.0, 4.0, 4.0, 3.0),
 (1790.0, 4.0, 1.0, 4.0, 3.0),
 (1823.0, 2.0, 3.0, 3.0, 3.0),
 (1857.0, 4.0, 4.0, 3.0, 2.0),
 (1864.0, 2.0, 3.0, 4.0, 3.0),
 (1881.0, 2.0, 3.0, 1.0, 3.0),
 (1888.0, 2.0, 4.0, 4.0, 2.0),
 (1950.0, 1.0, 4.0, 1.0, 2.0),
 (1962.0, 3.0, 4.0, 4.0, 3.0),
 (1975.0, 2.0, 1.0, 1.0, 3.0),
 (1986.0, 2.0, 2.0, 3.0, 3.0),
 (2000.0, 3.0, 2.0, 1.0, 1.0),
 (2.0, 3.0, 2.0, 4.0, 3.0),
 (5.0, nan, 3.0, 3.0, 3.0),
 (35.0, 3.0, 2.0, 4.0, 3.0),
 (76.0, 4.0, 4.0, 4.0, 2.0),
 (98.0, 3.0, 4.0, 4.0, 3.0),
 (120.0, 3.0, 4.0, 4.0, 1.0),
 (147.0, 1.0, 3.0, 4.0, nan),
 (154.0, 2.0, 4.0, 3.0, 3.0),
 (159.0, 1.0, 3.0, 3.0, 2.0),
 (160.0, nan, 2.0, 1.0, 4.0),
 (163.0, 2.0, 3.0, 2.0, 2.0),
 (176.0, 3.0, 3.0, 3.0, 3.0),
 (177.0, 3.0, 3.0, 4.0, 3.0),
 (195.0, 4.0, 4.0, 4.0, 4.0),
 (202.0, 2.0, 2.0, 1.0, 3.0),
 (205.0, 2.0, 3.0, 4.0, 1.0),
 (252.0, 4.0, 2.0, 4.0, 3.0),
 (258.0, 4.0, 2.0, 3.0, 3.0),
 (260.0, 4.0, 2.0, 4.0, 2.0),
 (267.0, 2.0, 1.0, 1.0, 2.0),
 (275.0, 4.0, 4.0, 1.0, 3.0),
 (293.0, 4.0, 3.0, 4.0, 3.0),
 (302.0, 4.0, 4.0, 4.0, 3.0),
 (314.0, 3.0, 3.0, 1.0, 4.0),
 (329.0, 1.0, 3.0, 4.0, 4.0),
 (361.0, 4.0, 4.0, 4.0, 3.0),
 (363.0, nan, 2.0, 2.0, 2.0),
 (376.0, 1.0, 2.0, 4.0, 2.0),
 (381.0, 2.0, 2.0, 2.0, 2.0),
 (388.0, 2.0, 4.0, 1.0, nan),
 (389.0, 2.0, 4.0, 4.0, 3.0),
 (401.0, 4.0, 4.0, 2.0, nan),
 (416.0, 2.0, 4.0, 2.0, 2.0),
 (430.0, 3.0, 4.0, 1.0, 3.0),
 (438.0, 4.0, 4.0, 4.0, 3.0),
 (446.0, 2.0, 4.0, 3.0, 2.0),
 (448.0, 3.0, 3.0, 2.0, 4.0),
 (454.0, 2.0, 1.0, 4.0, 2.0),
 (458.0, 2.0, 2.0, 1.0, 3.0),
 (476.0, 3.0, 3.0, 2.0, 3.0),
 (483.0, 4.0, 3.0, 3.0, 3.0),
 (488.0, 1.0, 2.0, 3.0, 3.0),
 (500.0, 3.0, 4.0, 3.0, 2.0),
 (534.0, 2.0, 1.0, 3.0, 3.0),
 (586.0, 4.0, 3.0, 3.0, 3.0),
 (595.0, 2.0, 4.0, 1.0, 3.0),
 (608.0, 2.0, 3.0, 2.0, nan),
 (616.0, 1.0, 3.0, 1.0, 3.0),
 (621.0, 4.0, 4.0, 4.0, 3.0),
 (653.0, 1.0, 4.0, 4.0, 4.0),
 (663.0, 4.0, 3.0, 2.0, 3.0),
 (682.0, 4.0, 1.0, 4.0, 4.0),
 (710.0, 2.0, 4.0, 4.0, 3.0),
 (717.0, 4.0, 2.0, 2.0, 4.0),
 (721.0, 4.0, 3.0, 1.0, 3.0),
 (722.0, 4.0, 4.0, 4.0, 2.0),
 (724.0, 2.0, 4.0, 3.0, nan),
 (725.0, 3.0, 1.0, 4.0, 3.0),
 (728.0, 4.0, 1.0, 4.0, 3.0),
 (733.0, 4.0, 1.0, 3.0, 2.0),
 (734.0, 4.0, 3.0, 2.0, 3.0),
 (742.0, 1.0, 1.0, 1.0, 3.0),
 (747.0, 3.0, 4.0, 4.0, 2.0),
 (762.0, 3.0, 4.0, 3.0, 2.0),
 (783.0, 2.0, 3.0, 1.0, 3.0),
 (789.0, 1.0, 1.0, 2.0, 3.0),
 (793.0, 2.0, 3.0, 1.0, 2.0),
 (803.0, 1.0, 1.0, 4.0, 3.0),
 (809.0, 2.0, 4.0, 2.0, 2.0),
 (823.0, 3.0, 2.0, 1.0, 3.0),
 (842.0, 3.0, 4.0, 3.0, 2.0),
 (913.0, 2.0, 1.0, 4.0, 3.0),
 (927.0, 2.0, 4.0, 3.0, 2.0),
 (941.0, 2.0, 3.0, 2.0, 4.0),
 (956.0, nan, 1.0, 2.0, 3.0),
 (966.0, 3.0, 1.0, 3.0, 4.0),
 (967.0, 3.0, 4.0, 1.0, 3.0),
 (972.0, nan, 2.0, 2.0, 2.0),
 (990.0, 1.0, 4.0, 4.0, 3.0),
 (1013.0, 3.0, 3.0, 3.0, 3.0),
 (1015.0, 2.0, 1.0, 3.0, 2.0),
 (1018.0, 4.0, 4.0, 2.0, 3.0),
 (1034.0, 3.0, 2.0, 4.0, 3.0),
 (1046.0, 4.0, 3.0, 2.0, 3.0),
 (1050.0, 3.0, 2.0, 1.0, nan),
 (1074.0, 3.0, 1.0, 2.0, 4.0),
 (1082.0, 2.0, 1.0, 1.0, 2.0),
 (1097.0, 3.0, 3.0, 4.0, 4.0),
 (1100.0, 4.0, 1.0, 1.0, 3.0),
 (1101.0, nan, 3.0, 2.0, 3.0),
 (1106.0, 4.0, 4.0, 2.0, 4.0),
 (1119.0, 3.0, 3.0, 2.0, nan),
 (1126.0, 3.0, 1.0, 3.0, 3.0),
 (1128.0, 3.0, 3.0, 1.0, nan),
 (1177.0, 1.0, 4.0, 2.0, 3.0),
 (1182.0, 3.0, 2.0, 2.0, 4.0),
 (1201.0, 4.0, 3.0, 2.0, 3.0),
 (1218.0, 3.0, 1.0, 4.0, 3.0),
 (1220.0, 2.0, 3.0, 1.0, 2.0),
 (1224.0, 3.0, 3.0, 1.0, 2.0),
 (1235.0, 4.0, 3.0, 4.0, 3.0),
 (1237.0, 3.0, 1.0, 3.0, 3.0),
 (1255.0, 3.0, 4.0, 2.0, 3.0),
 (1264.0, 4.0, 4.0, 2.0, 2.0),
 (1283.0, nan, 4.0, 4.0, 2.0),
 (1293.0, 4.0, 4.0, 4.0, 4.0),
 (1295.0, 1.0, 4.0, 4.0, 3.0),
 (1322.0, 1.0, 3.0, 1.0, nan),
 (1344.0, 4.0, 4.0, 4.0, 2.0),
 (1355.0, 2.0, 1.0, 4.0, 3.0),
 (1362.0, nan, 1.0, 4.0, 2.0),
 (1369.0, 4.0, 4.0, 2.0, 3.0),
 (1377.0, 2.0, 3.0, 1.0, 3.0),
 (1402.0, 1.0, 3.0, 1.0, 1.0),
 (1408.0, 3.0, 1.0, 3.0, 3.0),
 (1417.0, 3.0, 1.0, 4.0, 3.0),
 (1421.0, 3.0, 4.0, 1.0, 3.0),
 (1422.0, 4.0, 4.0, 4.0, 2.0),
 (1424.0, 2.0, 4.0, 4.0, 4.0),
 (1457.0, 1.0, 4.0, 1.0, 4.0),
 (1460.0, 2.0, 1.0, 2.0, 3.0),
 (1484.0, 3.0, 2.0, 2.0, 3.0),
 (1497.0, 3.0, 3.0, 3.0, 3.0),
 (1522.0, 1.0, 1.0, 3.0, 1.0),
 (1544.0, 3.0, 1.0, 3.0, 3.0),
 (1572.0, 3.0, 4.0, 2.0, 3.0),
 (1608.0, 2.0, 4.0, 4.0, 2.0),
 (1611.0, 3.0, 1.0, 1.0, 3.0),
 (1612.0, 1.0, 1.0, 1.0, nan),
 (1615.0, 3.0, 4.0, 1.0, nan),
 (1619.0, nan, 1.0, 1.0, 3.0),
 (1635.0, 4.0, 4.0, 1.0, 3.0),
 (1642.0, 1.0, 4.0, 3.0, 3.0),
 (1653.0, 4.0, 3.0, 3.0, 3.0),
 (1691.0, 4.0, 3.0, 3.0, 3.0),
 (1693.0, 4.0, 4.0, 3.0, 3.0),
 (1703.0, 3.0, 4.0, 2.0, 3.0),
 (1727.0, 3.0, 2.0, 4.0, 3.0),
 (1728.0, 4.0, 3.0, 2.0, 3.0),
 (1745.0, 4.0, 1.0, 4.0, nan),
 (1754.0, 3.0, 1.0, 1.0, 3.0),
 (1756.0, 4.0, 2.0, 4.0, 2.0),
 (1764.0, 2.0, 2.0, 2.0, 3.0),
 (1778.0, 2.0, 4.0, 2.0, 3.0),
 (1797.0, 3.0, 4.0, 4.0, 3.0),
 (1804.0, 2.0, 4.0, 3.0, 3.0),
 (1816.0, 1.0, 3.0, 2.0, 3.0),
 (1821.0, 4.0, 2.0, 4.0, 4.0),
 (1849.0, 1.0, 4.0, 3.0, 3.0),
 (1869.0, 3.0, 2.0, 3.0, 3.0),
 (1898.0, 1.0, 3.0, 2.0, 2.0),
 (1911.0, 3.0, 1.0, 2.0, 4.0),
 (1927.0, 3.0, 4.0, 3.0, 3.0),
 (1934.0, 3.0, 2.0, 3.0, 4.0),
 (1951.0, 4.0, 3.0, 3.0, 2.0),
 (1952.0, 3.0, 1.0, 4.0, nan),
 (1965.0, 4.0, 4.0, 1.0, nan),
 (1967.0, 1.0, 4.0, 3.0, 3.0),
 (1979.0, 3.0, 3.0, 3.0, 4.0),
 (2008.0, 2.0, 3.0, 2.0, 3.0),
 (2009.0, 2.0, 4.0, 1.0, 3.0),
 (2014.0, 1.0, 4.0, 1.0, 3.0),
 (2034.0, 1.0, 2.0, 3.0, 3.0),
 (2035.0, 4.0, 3.0, 4.0, 3.0),
 (2062.0, 4.0, 1.0, 1.0, 3.0),
 (28.0, 1.0, 2.0, 3.0, 3.0),
 (62.0, 1.0, 4.0, 3.0, 3.0),
 (199.0, 4.0, 1.0, 2.0, 2.0),
 (343.0, 3.0, 3.0, 4.0, 3.0),
 (351.0, 4.0, 1.0, 3.0, 3.0),
 (428.0, 4.0, 2.0, 2.0, 3.0),
 (464.0, 3.0, 2.0, 4.0, 3.0),
 (731.0, 2.0, 4.0, 2.0, 2.0),
 (764.0, 4.0, 1.0, 1.0, 1.0),
 (851.0, 1.0, 3.0, 3.0, 2.0),
 (903.0, 3.0, 4.0, 1.0, 3.0),
 (905.0, 1.0, 1.0, 4.0, 3.0),
 (942.0, 4.0, 4.0, 4.0, 1.0),
 (1026.0, 4.0, 4.0, 3.0, 3.0),
 (1085.0, 2.0, 3.0, 3.0, 3.0),
 (1109.0, 4.0, 1.0, 4.0, 3.0),
 (1118.0, 2.0, 2.0, 4.0, nan),
 (1152.0, 3.0, 3.0, 4.0, 4.0),
 (1350.0, 3.0, 3.0, 2.0, 3.0),
 (1514.0, 3.0, 2.0, 2.0, 2.0),
 (1523.0, 4.0, 1.0, 3.0, 4.0),
 (1539.0, 3.0, 4.0, 4.0, 3.0),
 (1588.0, 4.0, 3.0, 1.0, 3.0),
 (1617.0, nan, 1.0, 4.0, 2.0),
 (1719.0, 4.0, 2.0, 3.0, 3.0),
 (1870.0, 4.0, 1.0, 4.0, nan),
 (2031.0, 1.0, 3.0, 1.0, 2.0),
 (2065.0, 4.0, 2.0, 4.0, 2.0),
 (15.0, 4.0, 3.0, 4.0, 3.0),
 (60.0, nan, 3.0, 3.0, 3.0),
 (85.0, 2.0, 2.0, 3.0, 3.0),
 (346.0, 3.0, 4.0, 1.0, 3.0),
 (384.0, 3.0, 2.0, 1.0, 1.0),
 (498.0, 2.0, 4.0, 4.0, 3.0),
 (551.0, 4.0, 4.0, 4.0, 4.0),
 (604.0, 2.0, 4.0, 3.0, 4.0),
 (626.0, 1.0, 2.0, 4.0, 3.0),
 (644.0, 1.0, 2.0, 3.0, 3.0),
 (649.0, 2.0, 4.0, 4.0, 3.0),
 (714.0, 4.0, 4.0, 2.0, 3.0),
 (781.0, nan, 4.0, 2.0, 2.0),
 (804.0, 3.0, 1.0, 3.0, 3.0),
 (856.0, nan, 1.0, 4.0, 2.0),
 (998.0, 3.0, 2.0, 1.0, 3.0),
 (1120.0, 3.0, 4.0, 1.0, 3.0),
 (1143.0, 4.0, 2.0, 4.0, 2.0),
 (1251.0, 3.0, 1.0, 4.0, 2.0),
 (1438.0, 1.0, 4.0, 3.0, 2.0),
 (1574.0, 4.0, 1.0, 2.0, 2.0),
 (1671.0, 4.0, 2.0, 3.0, 2.0),
 (94.0, 3.0, 2.0, 4.0, 3.0),
 (112.0, 4.0, 4.0, 1.0, 2.0),
 (129.0, 2.0, 3.0, 2.0, 4.0),
 (142.0, 3.0, 3.0, 4.0, 3.0),
 (161.0, 2.0, 2.0, 1.0, 3.0),
 (164.0, 3.0, 2.0, 3.0, 2.0),
 (190.0, 1.0, 1.0, 1.0, 4.0),
 (194.0, 1.0, 3.0, 3.0, 2.0),
 (226.0, 3.0, 2.0, 2.0, 3.0),
 (231.0, 3.0, 3.0, 1.0, nan),
 (240.0, 3.0, 1.0, 1.0, 4.0),
 (262.0, 4.0, 4.0, 4.0, 4.0),
 (283.0, 2.0, 4.0, 4.0, 2.0),
 (308.0, 3.0, 3.0, 4.0, 3.0),
 (325.0, 3.0, 4.0, 3.0, 1.0),
 (355.0, 3.0, 2.0, 2.0, 4.0),
 (378.0, 3.0, 4.0, 2.0, 4.0),
 (449.0, 3.0, 2.0, 4.0, nan),
 (466.0, 4.0, 2.0, 4.0, 3.0),
 (486.0, 3.0, 1.0, 2.0, 3.0),
 (492.0, nan, 3.0, 1.0, 3.0),
 (505.0, 3.0, 4.0, 3.0, 3.0),
 (510.0, 3.0, 1.0, 3.0, 3.0),
 (527.0, 2.0, 4.0, 2.0, 3.0),
 (547.0, 1.0, 3.0, 2.0, 3.0),
 (548.0, 3.0, 4.0, 3.0, 3.0),
 (577.0, 4.0, 3.0, 3.0, 3.0),
 (679.0, 1.0, 4.0, 4.0, nan),
 (785.0, 2.0, 3.0, 4.0, 3.0),
 (861.0, 2.0, 4.0, 2.0, 2.0),
 (864.0, 4.0, 1.0, 3.0, 3.0),
 (878.0, 1.0, 1.0, 3.0, 3.0),
 (895.0, 4.0, 4.0, 2.0, 3.0),
 (900.0, 3.0, 4.0, 2.0, 3.0),
 (936.0, 3.0, 3.0, 1.0, 3.0),
 (997.0, 4.0, 4.0, 3.0, 2.0),
 (1048.0, 2.0, 4.0, 3.0, 1.0),
 (1071.0, 1.0, 3.0, 2.0, 3.0),
 (1116.0, 1.0, 4.0, 3.0, 2.0),
 (1132.0, 3.0, 2.0, 3.0, 2.0),
 (1171.0, 2.0, 1.0, 4.0, nan),
 (1200.0, 3.0, 3.0, 3.0, 3.0),
 (1202.0, 2.0, 4.0, 1.0, 2.0),
 (1245.0, 4.0, 3.0, 1.0, 1.0),
 (1280.0, 4.0, 2.0, 3.0, 3.0),
 (1309.0, 4.0, 3.0, 1.0, 3.0),
 (1374.0, 1.0, 3.0, 3.0, 3.0),
 (1390.0, 1.0, 4.0, 4.0, 4.0),
 (1395.0, nan, 4.0, 1.0, 4.0),
 (1397.0, 3.0, 3.0, 2.0, 3.0),
 (1409.0, 3.0, 1.0, 3.0, 1.0),
 (1425.0, 1.0, 2.0, 4.0, 3.0),
 (1435.0, nan, 4.0, 3.0, 2.0),
 (1445.0, 4.0, 3.0, 3.0, 3.0),
 (1469.0, 4.0, 1.0, 4.0, 3.0),
 (1503.0, 3.0, 3.0, 3.0, 2.0),
 (1534.0, 4.0, 1.0, 2.0, 1.0),
 (1546.0, nan, 4.0, 4.0, 3.0),
 (1548.0, 1.0, 1.0, 4.0, 4.0),
 (1598.0, 4.0, 1.0, 3.0, 3.0),
 (1599.0, 4.0, 2.0, 3.0, nan),
 (1609.0, 2.0, 2.0, 2.0, 2.0),
 (1638.0, 4.0, 3.0, 4.0, 4.0),
 (1640.0, 2.0, 2.0, 1.0, 1.0),
 (1664.0, nan, 1.0, 1.0, 3.0),
 (1684.0, 4.0, 3.0, 1.0, 3.0),
 (1704.0, 1.0, 4.0, 3.0, 4.0),
 (1736.0, 4.0, 4.0, 4.0, 2.0),
 (1782.0, 4.0, 3.0, 2.0, 3.0),
 (1826.0, 2.0, 3.0, 2.0, 4.0),
 (1850.0, nan, 4.0, 3.0, 2.0),
 (1909.0, 3.0, 2.0, 3.0, 3.0),
 (1924.0, 2.0, 3.0, 2.0, 2.0),
 (1941.0, 2.0, 4.0, 4.0, 3.0),
 (1949.0, 1.0, 2.0, 2.0, 3.0),
 (27.0, 3.0, 1.0, 2.0, nan),
 (46.0, 4.0, 3.0, 4.0, 2.0),
 (52.0, nan, 1.0, 1.0, 3.0),
 (68.0, 2.0, 1.0, 3.0, 2.0),
 (79.0, 4.0, 4.0, 4.0, 3.0),
 (80.0, 2.0, 3.0, 4.0, 2.0),
 (91.0, 1.0, 3.0, 4.0, 2.0),
 (119.0, 3.0, 2.0, 4.0, 2.0),
 (126.0, 1.0, 3.0, 1.0, 1.0),
 (148.0, 4.0, 4.0, 3.0, 3.0),
 (150.0, 2.0, 3.0, 3.0, 3.0),
 (198.0, 2.0, 4.0, 4.0, 3.0),
 (216.0, nan, 3.0, 4.0, 3.0),
 (230.0, 1.0, 4.0, 3.0, 4.0),
 (270.0, 3.0, 3.0, 2.0, 3.0),
 (277.0, 4.0, 3.0, 4.0, 4.0),
 (299.0, 3.0, 1.0, 3.0, 2.0),
 (315.0, nan, 4.0, 3.0, nan),
 (330.0, 3.0, 2.0, 1.0, 3.0),
 (369.0, 2.0, 1.0, 4.0, 3.0),
 (386.0, 3.0, 3.0, 4.0, 2.0),
 (390.0, 1.0, 1.0, 3.0, 3.0),
 (412.0, 2.0, 1.0, 3.0, 3.0),
 (422.0, 4.0, 3.0, 4.0, 3.0),
 (434.0, 3.0, 2.0, 2.0, nan),
 (450.0, 4.0, 3.0, 4.0, 2.0),
 (469.0, 4.0, 3.0, 1.0, 2.0),
 (491.0, 4.0, 4.0, 4.0, 3.0),
 (554.0, 1.0, 2.0, 2.0, 3.0),
 (579.0, 4.0, 3.0, 3.0, 3.0),
 (592.0, 2.0, 4.0, 4.0, 2.0),
 (599.0, 4.0, 4.0, 4.0, 3.0),
 (641.0, 1.0, 2.0, 4.0, 4.0),
 (655.0, 1.0, 3.0, 3.0, 2.0),
 (667.0, 3.0, 1.0, 2.0, 3.0),
 (758.0, 2.0, 1.0, 4.0, 4.0),
 (760.0, 3.0, 2.0, 3.0, 1.0),
 (791.0, 4.0, 4.0, 1.0, 3.0),
 (796.0, 4.0, 1.0, 3.0, 2.0),
 (799.0, 4.0, 1.0, 2.0, 3.0),
 (815.0, 3.0, 3.0, 4.0, 3.0),
 (827.0, 4.0, 4.0, 4.0, 3.0),
 (865.0, 3.0, 3.0, 3.0, 2.0),
 (894.0, 3.0, 4.0, 2.0, 2.0),
 (983.0, 3.0, 4.0, 2.0, 3.0),
 (996.0, 4.0, 4.0, 4.0, 3.0),
 (1011.0, 3.0, 1.0, 3.0, 3.0),
 (1019.0, 2.0, 1.0, 1.0, 2.0),
 (1032.0, 3.0, 4.0, 1.0, 3.0),
 (1045.0, 4.0, 4.0, 2.0, 4.0),
 (1049.0, 2.0, 2.0, 1.0, 3.0),
 (1068.0, 1.0, 3.0, 3.0, 3.0),
 (1136.0, nan, 2.0, 1.0, 1.0),
 (1179.0, 3.0, 3.0, 1.0, 3.0),
 (1188.0, 1.0, 3.0, 2.0, 2.0),
 (1211.0, 3.0, 1.0, 3.0, 3.0),
 (1228.0, 4.0, 4.0, 3.0, 2.0),
 (1231.0, 4.0, 1.0, 1.0, 4.0),
 (1259.0, 1.0, 3.0, 2.0, nan),
 (1338.0, 4.0, 2.0, 1.0, 3.0),
 (1349.0, 3.0, 1.0, 4.0, 3.0),
 (1387.0, 3.0, 1.0, 3.0, 3.0),
 (1401.0, 4.0, 3.0, 2.0, 2.0),
 (1407.0, 1.0, 4.0, 4.0, 3.0),
 (1420.0, 1.0, 1.0, 1.0, nan),
 (1431.0, 4.0, 1.0, 3.0, 3.0),
 (1446.0, 4.0, 4.0, 3.0, nan),
 (1477.0, 4.0, 1.0, 1.0, 3.0),
 (1487.0, 1.0, 2.0, 1.0, 1.0),
 (1499.0, 3.0, 3.0, 1.0, 4.0),
 (1533.0, nan, 3.0, 2.0, 3.0),
 (1545.0, 4.0, 2.0, 4.0, 3.0),
 (1554.0, 2.0, 3.0, 1.0, 3.0),
 (1563.0, 3.0, 3.0, 3.0, 3.0),
 (1622.0, 2.0, 1.0, 2.0, 2.0),
 (1631.0, 3.0, 3.0, 1.0, 2.0),
 (1646.0, 1.0, 4.0, 3.0, 3.0),
 (1659.0, 1.0, 2.0, 3.0, 3.0),
 (1689.0, 2.0, 4.0, 3.0, 3.0),
 (1700.0, 3.0, 4.0, 3.0, 2.0),
 (1739.0, 4.0, 3.0, 3.0, 1.0),
 (1768.0, 2.0, 2.0, 2.0, 2.0),
 (1772.0, 3.0, 1.0, 2.0, 3.0),
 (1792.0, 3.0, 2.0, 3.0, 2.0),
 (1800.0, 3.0, 3.0, 3.0, 3.0),
 (1822.0, 3.0, 4.0, 4.0, 3.0),
 (1854.0, 3.0, 3.0, 2.0, 2.0),
 (1882.0, 3.0, 4.0, 4.0, 3.0),
 (1885.0, 4.0, 1.0, 3.0, 3.0),
 (1931.0, 2.0, 2.0, 3.0, 2.0),
 (1945.0, 2.0, 1.0, 4.0, 1.0),
 (1947.0, 3.0, 3.0, 3.0, 2.0),
 (1954.0, 1.0, 1.0, 1.0, 2.0),
 (1969.0, 1.0, 3.0, 3.0, 2.0),
 (1981.0, nan, 3.0, 2.0, 2.0),
 (1997.0, 1.0, 3.0, 4.0, 3.0),
 (1998.0, 4.0, 1.0, 3.0, 2.0),
 (1999.0, 4.0, 4.0, 1.0, 3.0),
 (2018.0, 1.0, 3.0, 2.0, 2.0),
 (2044.0, 2.0, 3.0, 4.0, nan),
 (2046.0, 4.0, 3.0, 3.0, 3.0),
 (2052.0, 3.0, 4.0, 4.0, 3.0),
 (2053.0, 4.0, 2.0, 1.0, 3.0),
 (2068.0, 2.0, 3.0, 1.0, 4.0),
 (7.0, 1.0, 2.0, 4.0, 3.0),
 (16.0, 1.0, 3.0, 4.0, 2.0),
 (18.0, 2.0, 4.0, 3.0, 3.0),
 (19.0, 3.0, 3.0, 2.0, 3.0),
 (21.0, 1.0, 2.0, 4.0, 2.0),
 (24.0, 4.0, 4.0, 3.0, 3.0),
 (26.0, 1.0, 3.0, 4.0, 2.0),
 (31.0, 2.0, 1.0, 3.0, 3.0),
 (33.0, 2.0, 1.0, 2.0, 3.0),
 (38.0, 2.0, 1.0, 4.0, 2.0),
 (40.0, 4.0, 4.0, 4.0, 4.0),
 (47.0, 1.0, 3.0, 3.0, 3.0),
 (49.0, 4.0, 4.0, 1.0, 3.0),
 (65.0, 3.0, 3.0, 3.0, 2.0),
 (72.0, nan, 4.0, 3.0, 2.0),
 (88.0, 2.0, 1.0, 4.0, 2.0),
 (102.0, 1.0, 3.0, 1.0, 4.0),
 (103.0, nan, 2.0, 4.0, 3.0),
 (110.0, 1.0, 2.0, 3.0, 3.0),
 (116.0, 4.0, 4.0, 2.0, 3.0),
 (128.0, 1.0, 3.0, 1.0, 2.0),
 (132.0, 2.0, 2.0, 3.0, 4.0),
 (133.0, 3.0, 1.0, 4.0, 3.0),
 (143.0, 4.0, 4.0, 3.0, nan),
 (171.0, 2.0, 3.0, 4.0, 3.0),
 (175.0, 2.0, 3.0, 3.0, 3.0),
 (178.0, 2.0, 2.0, 4.0, 3.0),
 (179.0, 1.0, 4.0, 4.0, 3.0),
 (193.0, 4.0, 3.0, 2.0, nan),
 (197.0, 4.0, 1.0, 4.0, 3.0),
 (218.0, 4.0, 2.0, 4.0, 1.0),
 (221.0, 3.0, 4.0, 3.0, 1.0),
 (233.0, 3.0, 2.0, 4.0, 2.0),
 (241.0, 3.0, 1.0, 3.0, nan),
 (245.0, 3.0, 4.0, 3.0, nan),
 (246.0, 3.0, 4.0, 3.0, 3.0),
 (247.0, 4.0, 2.0, 4.0, 3.0),
 (249.0, 3.0, 3.0, 4.0, 2.0),
 (250.0, 4.0, 1.0, 3.0, 3.0),
 (269.0, 2.0, 2.0, 4.0, 3.0),
 (287.0, 4.0, 4.0, 4.0, 1.0),
 (288.0, 4.0, 1.0, 3.0, 3.0),
 (297.0, 4.0, 1.0, 3.0, 3.0),
 (303.0, 4.0, 1.0, 4.0, 3.0),
 (305.0, 3.0, 2.0, 4.0, 3.0),
 (316.0, 3.0, 4.0, 2.0, 2.0),
 (332.0, nan, 3.0, 3.0, 3.0),
 (337.0, 2.0, 3.0, 1.0, 3.0),
 (338.0, 3.0, 4.0, 3.0, 2.0),
 (341.0, 1.0, 3.0, 4.0, 3.0),
 (347.0, 4.0, 1.0, 3.0, 3.0),
 (349.0, 4.0, 4.0, 4.0, 3.0),
 (350.0, 1.0, 3.0, 4.0, 3.0),
 (362.0, 4.0, 1.0, 4.0, 3.0),
 (379.0, 4.0, 3.0, 1.0, 4.0),
 (380.0, 1.0, 4.0, 1.0, 3.0),
 (393.0, 4.0, 4.0, 2.0, 3.0),
 (394.0, 1.0, 2.0, 4.0, 3.0),
 (396.0, 3.0, 1.0, 4.0, 3.0),
 (403.0, 2.0, 4.0, 3.0, 2.0),
 (423.0, nan, 4.0, 3.0, 3.0),
 (424.0, 1.0, 1.0, 4.0, 3.0),
 (433.0, nan, 2.0, 1.0, 2.0),
 (440.0, 1.0, 4.0, 4.0, 2.0),
 (447.0, 4.0, 3.0, 2.0, 3.0),
 (455.0, 2.0, 4.0, 3.0, nan),
 (460.0, 4.0, 4.0, 3.0, 2.0),
 (465.0, 3.0, 4.0, 3.0, 2.0),
 (470.0, 3.0, 3.0, 3.0, 3.0),
 (475.0, 4.0, 3.0, 2.0, 4.0),
 (478.0, 1.0, 2.0, 3.0, 3.0),
 (482.0, 4.0, 3.0, 3.0, 3.0),
 (495.0, nan, 4.0, 4.0, 3.0),
 (501.0, 4.0, 3.0, 2.0, 3.0),
 (502.0, 1.0, 4.0, 2.0, 2.0),

In [47]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='abc_company')

mycursor = cnx.cursor()
query = "INSERT INTO satisfaction(employee_number,environment_satisfaction,job_satisfaction,relationship_satisfaction, work_life_balance) VALUES (%s, %s,%s, %s, %s)"
val = lista_definitiva4
try: 
    mycursor.executemany(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1580 registro/s insertado/s.